.Navbar {
    width: 100%;
    background-color: white;
    height: 50px;
    padding: 10px 30px;
    zoom: 0.9;
    display: flex; /* Ensure the Navbar uses flexbox */
    justify-content: flex-start;
} 

.Navbar .dropdown-container {
    position: relative;
    display: inline-block;
    
}

.Navbar .dropdown-container .dropdown-btn {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    justify-content: flex-start; /* Change to flex-start for left alignment */
}

.Navbar .dropdown-container .dropdown-btn i {
    color: #3b3a3a;
    font-size: 16px;
}

.Navbar .dropdown-container .dropdown-btn div {
    font-size: 14px;
    margin-bottom: -1px;
    padding: 0px 5px;
}

.Navbar .dropdown-container .dropdown-btn:hover {
    background-color: #f1f1f1;
}

.Navbar .dropdown-container .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    border: 1px solid #ccc;
    z-index: 1;
    top: 125%;
    left: 0;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.Navbar .dropdown-container .dropdown-content .Grouping,
.Navbar .dropdown-container .dropdown-content .Ordering {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar .dropdown-container .dropdown-content .Grouping label,
.Navbar .dropdown-container .dropdown-content .Ordering label {
    font-size: 14px;
    color: #8a8585;
    font-weight: 600;
}

.Navbar .dropdown-container .dropdown-content .Grouping select,
.Navbar .dropdown-container .dropdown-content .Ordering select {
    border-radius: 0px !important;
    padding: 3px;
    padding-right: 20px;
    border: 1px solid #ccc;
}

.Navbar .dropdown-container .dropdown-content div {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 8px; /* Space between icons and text */
  }
  
